<h1 style="font-size:3vw;">Websocket push demo - Angular / Spring Boot</h1>
<div class="container-fluid">
  <div class="row">
    <div class="card w-25" style="min-width: 300px;">
      <h5 class="card-header">Temperature chart</h5>
      <div class="card-body">
        <app-temperature-chart></app-temperature-chart>
      </div>
    </div>
    <div class="card w-25" style="min-width: 300px;">
      <h5 class="card-header">Temperature</h5>
      <div class="card-body">
        <app-temperature-number></app-temperature-number>
      </div>
    </div>
    <div class="card w-25" style="min-width: 300px;">
      <h5 class="card-header">Image</h5>
      <div class="card-body">
        <app-image></app-image>
      </div>
    </div>
  </div>
</div>
